<ion-list>
  <ng-container *ngIf="isLoading">
    <app-shared-loading-spinner></app-shared-loading-spinner>
  </ng-container>

  <ion-item *ngFor="let service of services" class="list-item-transition">
    <ion-label>
      <h2>{{ service.name }}</h2>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="editPatient(service)" fill="clear" color="primary">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <ion-button
        (click)="confirmDelete(service)"
        fill="clear"
        color="danger"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
